[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ropenmeteo"]
	path = ropenmeteo
	url = https://github.com/flare-forecast/ropenmeteo
